// Variables
@import 'variables';
// Vendor
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/font-awesome/css/font-awesome';
@import 'node_modules/medium-editor/dist/css/medium-editor';
@import 'node_modules/medium-editor/dist/css/themes/bootstrap';
// Components
@import './components/reset';
@import './components/theme';
@import './components/medium-editor';
@import './components/navigation';
@import './components/intro-header';
@import './components/footer';
// Pages
@import './pages/create.post';
@import './pages/show.post';

html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Museo Slab', 'Helvetica Neue', Arial, serif;
  background-color: #fff;
}

.content {
  display: flex;
  flex: 1;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Museo Slab', 'Helvetica Neue', Arial, serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

p {
  font-family: 'Acumin Pro Wide', 'Helvetica Neue', Arial, serif;
  color: #353535;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}